body {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    margin: 2%;
}

header {
    background-color: hsl(225, 23%, 24%);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    min-height: 65px;
    max-height: 7vh;
}

header img {
    margin-left: 1%;
}

/*#region*/
.titleSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.titleSection h1 {
    color: #fff;
}

.titleSection ul {
    display: flex;

    list-style-type: none;
}
/*#endregion*/

/*#region*/
.content {
    display: flex;
    flex-wrap: wrap;
}

.contentBox {
    display: flex;
    flex: 1 1 300px;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 15px;

    flex-direction: column;
    box-sizing: border-box;
}

.contentBox .header {
    display: flex;
    align-items: flex-start;
}

.contentBox .header img {
    flex-shrink: 0;
}

.contentBox .header .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contentBox h2 {
    
}

.contentBox p {
    
}

.contentBox .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*#endregion*/

