body {
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.text {
    font-family: "Noto Sans HK";
}

.spacer {
    height: 4vh;
}

header {
    background-color: hsl(226, 25%, 17%);
    border-radius: 15px;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

    header img {
        margin-left: 1%;
    }

    header label {
        padding: 0 1%;
    }

/*#region*/
.titleSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

    .titleSection h1 {
        color: #fff;
        font-size: 1.7em;
    }

    .titleSection ul {
        display: flex;
        list-style-type: none;
        gap: 8px;
    }
/*#endregion*/

/*#region*/
.content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    gap: 16px;
}

.contentBox {
    background-color: hsl(226, 25%, 17%);
    border: 1px solid hsl(225, 23%, 24%);
    border-radius: 15px;
    display: flex;
    flex: 1 1 300px;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1em;
}

    .contentBox .header {
        display: flex;
        align-items: flex-start;
    }

        .contentBox .header img {
            width: 65px;
            height: 65px;
        }

        .contentBox .header .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 0.75em;
        }

            .contentBox .header .text h2 {
                color: #fff;
                font-size: 1.5em;
                margin: 0;
                font-size: 1.2em;
            }

            .contentBox .header .text p {
                font-size: 0.8em;
                color: #666;
                margin: 0;
            }

    .contentBox .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2em;
    }

        .content .footer .text {
            font-size: 0.8em;
        }
/*#endregion*/

